{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Python Home Page</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/lil_aloupeep.png') }}" alt="Cute Python Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title"> <strong> Anime Girls</strong></h5>
                    <p class="card-text">
                        <ol>
                            <li>There are many types of media that anime girls are in, including games, shows, and movies</li>
                            <li>There are many different types of anime girls, as many written personalities as possible</li>
                            <li>Some anime girls have little mascots that support them</li>
                            <li>Anime girls can be either side characters, main characters, or the the antagonists of stories</li>
                        </ol>
                    </p>
                    <a href="https://www.google.com/search?q=anime+girls&oq=anime+girls&aqs=chrome..69i57.1125j0j1&sourceid=chrome&ie=UTF-8" class="btn btn-primary">Google's View</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/music_star.jpeg') }}" alt="Flask Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Music</h5>
                    <p class="card-text">
                        <ol>
                            <li>There are many different genres of music and I enjoy many of them</li>
                            <li>Music in different languages sometimes have completely different styles that makes you see new ways of music</li>
                            <li>Music sounds nice to the ears and usually delivers a message, but it can also sound bad to deliver a message</li>
                            <li>People listen to it, but a lot of other species do not understand the tune, however some animals grow to understand and even enjoy it</li>
                        </ol>
                    </p>
                    <a href="https://www.google.com/search?q=music&oq=music+&aqs=chrome..69i57j69i60l3j69i65l2.1666j0j9&sourceid=chrome&ie=UTF-8" class="btn btn-primary">Google's View</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/pythondb.png') }}" alt="Python Icon!" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Python!</h5>
                    <p class="card-text">
                        <ol>
                            <li>Python is a coding language that is usable for many subjects</li> 
                            <li>Pythons are also very cute danger noodles that are a bit dangerous</li>
                            <li>One of these brings more joy than the others, being the animals</li>
                            <li>There should be a class specifically about pythons</li>
                        </ol>
                    </p>
                    <a href="https://www.google.com/search?q=python+snake&oq=python+snake&aqs=chrome..69i57.5553j0j9&sourceid=chrome&ie=UTF-8" class="btn btn-primary">The Animal</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}